.mainbody {
    width: 100%;
    display: flex;
}

.leftbx {
    position: relative;
    width: 100%;
}

.rightbx {
    position: fixed;
    width: 0;
    height: 100vh;
    right: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    transition: ease 0.4s;
    transition-delay: 0.5s;
    background-color: black;
}

.rightbx.dark{
    background-color:#0C0C0C ;
}
.rightbx.light{
    background-color: #fff;

}

.rightbx.show {

    /* display: block; */
    width: 300px;
}

.leftbx {
    position: relative;
    transition: 0.4s;
    left: 0;
    transition-delay: 0.5s;
}

.leftbx.shift {

    left: -300px;

}

nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navbt{
    font-size: 24px;
    margin-right: 10px;
    color: #717171;
    cursor: pointer;
    opacity: 0.7;
    position: relative;
    transition: 0.2s;
}

.navbt:hover{

    opacity: 1;
    text-decoration: underline;
}

@media screen and (max-width: 420px) {
    .leftbx.shift {

        left: -240px;

    }
    .rightbx.show {
        
        width: 240px;
    }

}